* {
    font-size: 14px;
}

QCheckBox::indicator {
    width: 14px;
    height: 14px;
}

chatterino--ComboBox {
    width: 120px;
}

QScrollArea {
    border: none;
}

QScrollArea QFrame {
    border: none;
}

QComboBox QFrame {
    background: #000;
    border: 1px solid #66BCFF;
}

chatterino--SettingsDialog chatterino--SettingsDialogTab {
    font-size: 13px;
}

chatterino--SettingsPage #generalSettingsScrollContent {
    background: #222;
}

chatterino--SettingsPage QToolTip {
    padding: 4px 8px;
    background-color: #252525;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 5px;
    color: #d4d4d4;
    font-size: 12px;
}

chatterino--PageHeader {
    margin-bottom: 12px;
}

chatterino--TitleLabel {
    font-size: 19px;
    font-weight: 300;
    color: #4FC3F7;
}

chatterino--SubtitleLabel {
    font-size: 14px;
    font-weight: 600;
    color: #4FC3F7;
}

chatterino--DescriptionLabel {
    color: #999;
    font-size: 12px;
}

QLabel#description {
    color: #999;
    padding-left: 10px;
}

chatterino--NavigationLabel {
    font-size: 13px;
    color: #888;
}

chatterino--NavigationLabel:hover {
    color: #4FC3F7;
}
